<template>
  <div class="outer-container">
    <div class="inner-container">
      <div v-if="currentError" class="column error">Error: {{ currentError }}</div>
      <div v-if="scoreInfo" class="column">
        <h1>Score info</h1>
        <ul>
          <li>PP: {{ pp.toString() }}</li>
        </ul>
      </div>
      <div v-if="stars" class="column">
        <h1>Map info</h1>
        <ul>
          <li><b>{{ stars.map.artist }} - {{ stars.map.title }}</b></li>
          <li>Diffname: <b>{{ stars.map.version }}</b></li>
          <li>Mapped by <b>{{ stars.map.creator }}</b></li>
          <li>
            AR: <b>{{ stars.map.ar }};</b>
            OD: <b>{{ stars.map.od }};</b>
            CS: <b>{{ stars.map.cs }};</b>
            HP: <b>{{ stars.map.hp }}.</b>
          </li>
          <li>
            Stars: <b>{{ stars.total.toFixed(5) }}</b>
            (speed: <b>{{ stars.speed.toFixed(5) }}</b>; aim: <b>{{ stars.aim.toFixed(5) }}</b>)
          </li>
          <li>
            circles: <b>{{ stars.map.ncircles }};</b>
            sliders: <b>{{ stars.map.nsliders }};</b>
            spinners: <b>{{ stars.map.nspinners }}</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import ojsama from 'ojsama'

// tell eslint we don't make the rules and can't do shit if the classes are
// lowercase
/* eslint-disable new-cap */

const calculateStats = c => {
  c.stars = null
  c.diff = null
  if (c.parser === null) {
    return
  }

  let diff = new ojsama.diff()
  try {
    c.stars = diff.calc({
      map: c.parser.map,
      mods: 0
    })
  } catch (ex) {
    c.currentError = ex.message
    c.stars = null
    return
  }

  c.$emit('diff', c.stars)
}

const parseMap = c => {
  c.parser = null
  // parse map data
  const parser = new ojsama.parser()
  try {
    parser.feed(c.fileContent)
    c.parser = parser
  } catch (ex) {
    c.currentError = ex.message
  }
}

const fileChange = (c, f) => {
  if (f.size > 1024 * 1024 * 10) {
    c.currentError = 'we politely refuse to parse that file. (more than 10 mb!)'
    return
  }

  let r = new FileReader()

  r.onload = res => {
    c.fileContent = res.target.result

    parseMap(c)
    calculateStats(c)
  }

  r.readAsText(f, 'utf-8')
}

export default {
  props: ['file', 'scoreInfo'],
  data () {
    return {
      fileContent: null,
      currentError: null,
      parser: null,
      stars: null
    }
  },
  watch: {
    file (f) {
      fileChange(this, f)
    }
  },
  computed: {
    pp () {
      if (typeof this.scoreInfo === 'undefined') {
        return
      }
      const start = new Date()
      const res = ojsama.ppv2({
        stars: this.stars,
        combo: this.scoreInfo.combo,
        nmiss: this.scoreInfo.misses,
        acc_percent: this.scoreInfo.accuracy
      })
      console.log('calculation:', (new Date()).getTime() - start.getTime())
      return res
    }
  },
  mounted () {
    fileChange(this, this.file)
  }
}
</script>

<style scoped>
.error {
  color: #cc4444;
}
.outer-container {
  min-height: 100px;
  flex-grow: 1;
  width: 100%;

  background: #e9e9e9;
}
.inner-container {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 40px;
}
.column {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.column h1 {
  font-size: 20pt;
  display: block;
  text-align: right;
  border-bottom: 2px solid #000;
}
</style>
