<template>
  <label class="file-pick">
    <span v-if="value">
      {{ value.name }}
      <div class="tiny">
        Click here to change file
      </div>
    </span>
    <span v-else style="opacity: 0.6">Click to select an .osu file...</span>
    <input type="file" id="file" @change="fileChange" accept=".osu">
  </label>
</template>

<script>
export default {
  props: ['value'],
  methods: {
    onClick () {
      console.log('click')
    },
    fileChange (f) {
      const files = f.target.files
      if (files.length < 1) {
        return
      }
      this.$emit('input', files[0])
    }
  }
}
</script>

<style scoped>
.tiny {
  font-size: 14pt;
  opacity: 0.6;
  margin-top: 10px;
}
.file-pick {
  min-height: 100px;
  flex-grow: 1;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  background: #eee;

  cursor: pointer;
  font-size: 30pt;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-pick > span {
  padding-left: 20px;
  padding-right: 20px;
}
#file {
  display:none;
}
</style>
