<template>
  <div class="outer-container">
    <div class="inner-container">
      <label>
        <span>Combo (max {{ maxCombo }})</span>
        <input type="range" :max="maxCombo" min="0" v-model="scoreInfo.combo" @input="updateInfo">
      </label>
      <label>
        <span>Accuracy</span>
        <input type="number" step="0.01" min="0" max="100" v-model="scoreInfo.accuracy" @input="updateInfo">
      </label>
      <label>
        <span>Mods</span>
        <input type="number" v-model="scoreInfo.mods" min="0" @input="updateInfo">
      </label>
      <label>
        <span>Misses</span>
        <input type="number" v-model="scoreInfo.misses" min="0" @input="updateInfo">
      </label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    diff: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      scoreInfo: {
        combo: 0,
        accuracy: 100.00,
        mods: 0,
        misses: 0
      }
    }
  },
  computed: {
    maxCombo () {
      return this.diff.map.max_combo()
    }
  },
  methods: {
    updateInfo: function () {
      this.$emit('info', this.scoreInfo)
    }
  },
  mounted () {
    this.scoreInfo.combo = this.maxCombo
    this.updateInfo()
  }
}
</script>

<style scoped>
.outer-container {
  min-height: 100px;
  flex-grow: 1;
  width: 100%;

  background: #e2e2e2;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  padding: 40px;
}
.inner-container > label {
  padding-top: 5px;
  padding-bottom: 5px;
}
label > span {
  min-width: 200px;
  display: inline-block;
}
input[type="range"] {
  margin-left: 0;
  margin-right: 0;
  width: calc(100% - 210px);
}
</style>
