<template>
  <div id="app">
    <file v-model="file" />
    <calc v-if="file" :file="file" :scoreInfo="info" @diff="x => { this.diff = x }" />
    <vars v-if="diff" :diff="diff" @info="x => { this.info = x }" />
  </div>
</template>

<script>
import File from './components/File'
import Calc from './components/Calc'
import Vars from './components/Vars'

export default {
  name: 'app',
  data () {
    return {
      file: null,
      diff: null,
      info: null
    }
  },
  components: {
    File,
    Calc,
    Vars
  }
}
</script>

<!-- include exo 2 -->
<style src="typeface-exo-2"></style>

<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
